/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Glass navbar */
.glass-nav {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4) !important;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #00c4ff);
  background-attachment: fixed;
}

/* Services */
.service-card {
  padding: 40px;
  border-radius: 16px;
  background: white;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0px 10px 40px rgba(0,0,0,0.15);
}

/* Portfolio */
.portfolio-box {
  background: #fff;
  padding: 50px;
  border-radius: 12px;
  transition: 0.4s;
  font-weight: 600;
}

/* Contact */
.dark-section {
  background: #0b0f19;
}
